body{
    background-color: #f7f7fd;
    max-width: 1440px;
    margin: 0 auto;
}

.second-color{
    color: #E95A08;
}

.third-color{
    color: #8987A1;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 3.1rem 9.3rem;
}


.nav-items{
    display: flex;
    list-style: none;
    gap: 1.8rem;
    justify-content: center;
    align-items: center;
    margin-top: 2.5rem;
}

.nav-items a{
    text-decoration: none;
    color: #8987A1;
    
}

.nav-items a:hover{
    text-decoration: underline;
    color: black;
    transition: 0.1s;
    font-weight: bold;
}

#home {
    color: black;
}

.hero-section{
    display: flex;
    justify-content: space-between;
    width: 71.25rem;
    height: 28.75rem;
    margin: 50px 150px;
    
}


.hero-title{
    font-size: 65px;
}

.hero-description{
    font-size: 1.5rem;
}



.our-plants{
    text-align: center;
    margin: 50px 150px;  
}

.our-plants-title{
    font-size: 3.1rem;
}

.our-plants-description{
    font-size: 1.5rem;
}

.card-section{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    align-items: center;
    gap: 20px;
    text-align: center;
    margin: 50px 150px;

}

.card{
    border-radius: 10px;
    box-shadow: 2px 2px 5px #8987A1;
}

.card img{
    height: 322px;
    width: 270px;
    border-radius: 10px;
}

.btn{
    height: 50px;
    width: 270px;
    border-radius: 10px;
    border: none;
    background-color: #E95A08;
    cursor: pointer;
}
.btn:hover {
    cursor: pointer;
    background-color: #d4b527;
    transition: 0.1s;
}


.store-section{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 50px 150px;
    margin-top: 150px;
    margin-bottom: 50px;
    justify-content: center;
}


.trusted-badge{
    position: relative;
    top: -730px;
    right: -350px;
    height: 286px;
    width: 286px;
}

.store-title{
    font-size: 3.1rem;
    padding: 50px;
    margin-top: -10px;
    margin-left: 30px;
}

.store-note{
    font-size: 1.5rem;
    margin-left: 65px;
    margin-top: -35px;
    
}


.latest-section{
    text-align: center;
    margin: 50px 150px;
}

.latest-section-title{
    font-size: 3.1rem;
}

.latest-section-description{
    font-size: 1.5rem;
}

.latest-card-section{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
}

.latest-card-section a{
    color: white;
}


.latest-card-1{
    height: 200px;
    width: 365px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 10px;
    margin-bottom: 20px;
    background-image: url(./assets/deal-bloom.png);
    color: white;
    
}

.latest-card-2{
    height: 200px;
    width: 365px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 10px;
    background-image: url(./assets/deal-ana.png);
    color: white;
}


.latest-card-3{
    border: 1px solid rgb(255, 255, 255);
    border-radius: 10px;
    height: 423px;
    width: 750px;
    background-image: url(./assets/deal-zabo.png);
    color: white;
    font-size: 30px;
}


.lc{
    margin-top: 65px;
}

.lc-2{
    margin-top: 150px;
}




.join-section{
    height: 530px;
    width: 1440px;
    background-image: url(/assets/news-letter-bg.png);
    text-align: center;
    margin-top: 150px;
    
}

.join-title{
    color: white;
    font-size: 3.1rem;
    padding-top: 250px;
}

.email{
    height: 50px;
    width: 645px;
    border: none;
}

.sub-btn{
    height: 52px;
    width: 185px;
    margin-left: -5.2px;
    border: none;
    background-color: #E95A08;
    color: white;
    cursor: pointer;
}



footer{
    height: 350px;
    width: 1440px;
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
    margin-top: 50px;
}

.foot-item-1 li{
    list-style: none;
}

.foot-item-1 a{
    text-decoration: none;
    color: #8987A1;
}

.foot-item-2 li{
    list-style: none;
}

.foot-item-2 a{
    text-decoration: none;
    color: #8987A1;
}

.foot-logo-2 img{
    margin-left: 20px;
}
